/_src/tex/allcode.tex linguist-generated
/nix/sources.json linguist-generated
/nix/sources.nix linguist-generated
/src/Data/Group/Frees.hs linguist-vendored=true
/src/noweb.sty linguist-vendored=true
